extends layout

block content
  h1.mb-4 Overview
  div.card.col-md-4.mb-5.card-body
    h5.card-title Accounts
    table.table.mt-3
      thead.thead-light
        tr
          th(colspan='2') Bank accounts
      tbody
        tr
          td.col-md-9 ScotiaBank
          td $200
    
    table.table
      thead.thead-light
        tr
          th(colspan='2') Cash
      tbody
        tr
          td.col-md-9 Tips
          td $300

    table.table
      thead.thead-light
        tr
          th(colspan='2') Credit Cards
      tbody
        tr
          td.col-md-9 BMO
          td $-100

    table.table
      thead.thead-light
        tr
          th(colspan='2') Loans
      tbody
        tr
          td.col-md-9 Student Loan
          td $-5000

    table.table
      thead.thead-light
        tr
          th(colspan='2') Investments
      //tbody
        each bankAccount in bankAccounts
          tr
            td= bankAccount.name
            td= bankAccount.balance

    button.btn.btn-primary(href="/manage_accounts").mb-3 Manage accounts
        
