extends ../layout

block content
  h1.mb-4 Manage Your Accounts
  .card.mb-5.card-body
    h5.card-title.mb-3 Add New Account
    form(method="POST")
      .form-row
        .form-group.col-md-4
          label(for='type') Account Type
          select.form-control#type(name='type')
            option Checking Account
            option Savings Account
            option Cash
            option Credit Card
            option Loan
            option Investment Account
        .form-group.col-md-4
          label(for='description') Description
          input.form-control#description(name='description' type='text' placeholder='Enter brief account description')
        .form-group.col-md-4
          label(for='balance') Balance
          input.form-control#balance(name='balance' type='text' placeholder='$')
      button.btn.btn-outline-primary(type='submit') Submit