extends ../layout

block content
    h1.mb-4 
    .row
      .list-group.col-md-3.mb-5
        a.list-group-item.list-group-item-action.active(href='/transactions/expenses', style="background-color: #bbbbbb;") Expenses
        a.list-group-item.list-group-item-action(href='#') Income
        a.list-group-item.list-group-item-action(href='#') Transfers
    
      .card.col-md-9.mb-5.card-body
        h5.card-title.mb-3 Add New Expense Transaction
        form(method="POST")
          .form-row
            .form-group.col-md-4
                label(for='account') Account
                input.form-control#account(name='account' type='text' placeholder='Enter the account')                    
            .form-group.col-md-4
                label(for='category') Category
                input.form-control#category(name='category' type='text' placeholder='$')
            .form-group.col-md-4
                label(for='account') Account
                select.form-control#account(name='account')
                    option Checking Account
                    option Savings Account
                    option Cash
                    option Credit Card
                    option Loan
                    option Investment Account    
            button.btn.btn-outline-primary(type='submit') Submit
