extends ../layout

block content
    h1.mb-4 Transactions
    .row.ml-0
      .list-group.col-md-3.mb-5
        a.list-group-item.list-group-item-action.active(href='/transactions/expenses', style="background-color: #57b5b2") Expenses
        a.list-group-item.list-group-item-action(href='/transactions/income') Income
        a.list-group-item.list-group-item-action(href='#') Transfers
    
      .card.col-md-9.mb-5.card-body
        h5.card-title.mb-3 Add New Expense Transaction
        form(method="POST" action="")
          .form-row
            .form-group.col-md-4
                label(for='type') Type
                select.form-control#type(name='type' value='Expense' readonly)
                  option Expense
            .form-group.col-md-4
                label(for='account') Account
                select#account.form-control(type='select', placeholder='Select account' name='account' required='true' )
                  - accountList.sort(function(a, b) {let textA = a.description.toUpperCase(); let textB = b.description.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                  for account in accountList
                    option(value=account._id, selected=(selected_account==account._id.toString() ? 'selected' : false) ) #{account.description}
            .form-group.col-md-4
                label(for='date') Date
                input.form-control#date(name='date' type='date')
          .form-row
            .form-group.col-md-4
                label(for='amount') Amount
                .input-group.mb-2
                  .input-group-prepend
                    .input-group-text $
                  input#amount.form-control(name='amount' type='text' placeholder='Enter amount')
            .form-group.col-md-4
                label(for='category') Category
                select.form-control#category(name='category')
                  option Bills &amp; Utilities
                  option Business
                  option Education
                  option Entertainment
                  option Fees &amp; Charges
                  option Food &amp; Dining
                  option Gifts &amp; Donations
                  option Health &amp; Fitness
                  option Household 
                  option Investments
                  option Kids
                  option Shopping
                  option Taxes
                  option Travel
                  option Miscellaneous                      
            .form-group.col-md-4
                label(for='description') Description
                input.form-control#description(name='description' type='text' placeholder='Enter description')
            button.btn.btn-outline-primary(type='submit') Submit
