extends ../layout

block content
    h1.mb-4 Transactions
    .row.ml-0
      .list-group.col-md-3.mb-5
        a.list-group-item.list-group-item-action(href='/transactions/expenses') Expenses
        a.list-group-item.list-group-item-action.active(href='/transactions/income', style="background-color: #57b5b2") Income
        a.list-group-item.list-group-item-action(href='#') Transfers
    
      .card.col-md-9.mb-5.card-body
        h5.card-title.mb-3 Add New Income Transaction
        form(method="POST")
          .form-row
            .form-group.col-md-4
                label(for='type') Type
                select.form-control#type(name='type' value='Income' readonly)
                  option Income
            .form-group.col-md-4
                label(for='account') Account
                select#account.form-control(type='select', placeholder='Select account' name='account' required='true' )
                  - accountList.sort(function(a, b) {let textA = a.description.toUpperCase(); let textB = b.description.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                  for account in accountList
                    option(value=account._id, selected=(selected_account==account._id.toString() ? 'selected' : false) ) #{account.description}
            .form-group.col-md-4
                label(for='date') Date
                input.form-control#date(name='date' type='date')
          .form-row
            .form-group.col-md-4
                label(for='amount') Amount
                .input-group.mb-2
                  .input-group-prepend
                    .input-group-text $
                  input#inlineFormInputGroup.form-control(type='text' placeholder='Enter amount')
            .form-group.col-md-4
                label(for='category') Category
                select.form-control#category(name='category')
                  option Bonus
                  option Cash
                  option Cashback
                  option Government Benefit
                  option Interest Income
                  option Investment
                  option Paycheck Main
                  option Paycheck Secondary
                  option Reimbursement
                  option Miscellaneous                      
            .form-group.col-md-4
                label(for='description') Description
                input.form-control#description(name='description' type='text' placeholder='Enter the description')
            button.btn.btn-outline-primary(type='submit') Submit
